{% extends 'template.html' %}

{% block left %}

<div class="double-padded">
   <div class="double-padded">
   <img src="{{ url_for('static', filename='images/hi.png') }}" class="center tooltip" title="Nice to meet you">
</div>
    </div>

        <div class="double-padded border-top">
        <div class="double-padded">
            <h3><a href="/my_contribution" title="You know you're curious">What can I contribute to your company?
            </a></h3>
        </div>
    </div>
{% endblock left %}

{% block content %}

<div>
    <h1 class="align-center">
        About Me
    </h1>

    <p>
        One of the biggest concerns that companies either have (or should have) is whether or not a new employee
        will be a culture fit. In that vein, I'd like to tell you a little about myself as a person to help you judge
        for yourself whether or not I would be a good addition to your team.
    </p>
    <p>
        Overall, I am a very calm person. I deal with most things analytically. I am not really a fan of big shows of
        emotion and office politics. I have a pretty good sense of humor, and I like to joke around quite a bit. I
        don't really have any limits when it comes to humor, but I don't mind if others do. I can be at home in a
        reasonably sterile office environment or in an edgy startup with no dress code and a beer on every desk, though
        I do prefer something closer to the latter. In my opinion, decorum has its place for some roles, but in the
        trenches, I prefer function over form, and a casual environment.
    </p>
    <p>
        I have basically no ego. I don't mind teaching someone a new skill if I can, and I have no problem learning a
        better way to get the job done. I don't like working with divas. I believe in respect in the workplace and in
        life. If you have a rockstar on your team who happens to also be a constant pain in the ass, I'm probably not
        a good fit, however if you have a good culture already, I'll be able to find my place in it, and hopefully
        bring some added humor with me.
    </p>
    <p>
        In my personal life, I have a family, so I need a healthy work/life balance, but I don't expect or need lots
        of unscheduled time off. I have really enjoyed working remotely and having a flexible schedule in the past,
        but honestly I think I wind up overworking. If I have a list of things that need to be done, I take pride in
        taking care of it as quickly as I can while ensuring best practices. I guess that is good for my employer,
        but sometimes it can be taxing personally.
    </p>
    <p>
        While I do need a good balance between work and recreation, part of my recreation is programming. I started
        coding because I enjoy it, and it has just grown from there. I like to play with open source software, home
        automation, Raspberry Pi, Arduino, etc. I enjoy what I do, and I don't see any burnout in the near future. I
        have had days where I start coding at six or seven in the morning, and don't stop (with the exception of a few
        short breaks) until after midnight.
    </p>
</div>



{% endblock content %}

{% block right %}
<div class="double-padded">
   <div class="double-padded">
   <img src="{{ url_for('static', filename='images/wave.gif') }}" class="center dismissible tooltip" title="Click me">
</div>
    </div>
 <div class="double-padded border-top">
        <div class="double-padded">
            <h3><a href="/api" title="Everbody likes to REST">Check out my Flask RESTful API!</a></h3>
        </div>
    </div>


        <blockquote>
            Don't lower your expectations to meet your performance. Raise your level of performance to meet your
            expectations.
            <cite>Ralph Marston</cite>
        </blockquote>

    <div class="border-top"></div>

{% endblock right %}