{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        Flask
    </h1>

    <p>
        I originally started learning Django when I wanted to get into web apps, but I realized quickly that for the
        apps I was doing at the time, Django was overkill. I picked up Flask, and I have been using it primarily ever
        since. There is a misconception that Flask, being a 'microframework', is only suitable for small projects.
        While Flask is great for small projects, it is also great for larger projects when you want to get off of the
        beaten path and blaze your own trail. I have done a couple extensive inventory tracking solutions in Flask,
        and haven't had a hiccup. I am not opposed to picking Django back up as the need presents itself, but that
        has yet to happen, and for the majority of what I build Flask has been more than adequate.
    </p>
    <p>
        For the needs I have had so far, whether rendering a front end, or providing a RESTful service, Flask has been
        user friendly and powerful enough to handle my needs. I can have an API up and doing some heavy lifting in an
        afternoon (depending on the required backend functionality), and even though I don't consider myself to be a
        front end guy at all, it isn't too much more work to slap a view on it when I'm working with something like
        bootstrap or groundworkcss (which is my current favorite).
    </p>

    <p>
        My weak points in web development are frontend (mostly by choice) and deployment. As far as the frontend goes,
        it's just not my thing. I don't mind doing a little for myself or on smaller projects, but that just isn't
        where my interest is at. I've also never really gone too deep with Apache2 or Nginx. Most of what I do either
        winds up on a preconfigured server in the cloud or running locally on a secure network, so I just never have
        had a huge need for the server knowledge
    </p>
    <p>
        If you are looking for a Python/Flask web guy, I can pull my weight, and if you already have a Flask wizard, I
        don't mind doing grunt work and learning from someone with more knowledge. Like the adage says, 'If you are
        the smartest person in the room, you're in the wrong room'. If you have a need, shoot me an
        <a href="mailto:mike_gibbs@rocketmail.com">email</a>. I'd love to talk about it.
    </p>
</div>

{% endblock content %}