{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        Welcome
    </h1>

    <p>
        Thanks for stopping by, and I hope you like what you see. I built this page in Flask to illustrate knowledge
        of web frameworks, front end tricks, and back end wizardry. As I release projects, I will post them here.
    </p>
    <p>
        I primarily use Python (version 2 or 3 as needed) as it pertains to web development and automation of Ops and
        Systems Administration tasks. I would classify myself as intermediate in Python (I answer more questions than
        I ask, I have a good grasp of flow control, logic, data types, error catching, functions, objects, etc) and a
        solid junior Linux guy with most of my skill in the automation department. I may not always be able to fix a
        broken Linux box (a lot of the time I can), but I also won't be the one to break it in the first place.
    </p>

    <p>
        Most of my professional Python experience has been in the area of specialized inventory control and management
        systems. I have dealt with automated purchase orders, specialized immutable reporting features for ATF
        monitored products, and all the backups that go along with it.
    </p>

    <p>
        Most of my Linux experience has been on Debian based systems, so I do have a gap in some of the proprietary
        Red Hat software. Honestly though, Linux is Linux, and the real difference are in packages and package
        managers, which aren't too hard to pick up on the fly. I am comfortable with the shell, cron automation,
        user and group priveleges, file permissions, visudo, etc.
    </p>

    <p>
        I am always interested in hearing about opportunities in DevOps and Web Development, and I enjoy working on
        new projects, so feel free to contact me if you think I fit the bill for a position you have available. I
        always check my <a href="mailto:mike_gibbs@rocketmail.com">email</a>.
    </p>

</div>

{% endblock content %}