{% extends 'template.html' %}



{% block left %}
   <blockquote>
        Most good programmers do programming not because they expect to get paid or get adulation by the public,
        but because it is fun to program.
        <cite>Linus Torvalds</cite>
    </blockquote>

        <div class="double-padded">
         <div class="double-padded">
            <h3>Traits of a good programmer:</h3>
            <ul class="list">
                <li class="tooltip" title="I love to program">Passion</li>
                <li class="tooltip" title="New technologies excite me">Willingness to learn</li>
                <li class="tooltip" title="I've spent plenty of time in the trenches squashing bugs">
                    Debugging skills</li>
                <li class="tooltip" title="I don't want to toot my own horn here, but 'toot toot'">Intelligence</li>
                <li class="tooltip" title="Laziness is nothing but a derogatory term for resourcefulness">Laziness</li>
            </ul>
        </div>
        </div>

        <div class="double-padded border-top">
        <div class="double-padded">
            <h3><a href="/my_contribution" title="You know you're curious">What can I contribute to your company?</a></h3>
        </div>
    </div>
{% endblock left %}



{% block content %}

<div>
    <h1 class="align-center">
        Welcome
    </h1>

    <p>
        Thanks for stopping by, and I hope you like what you see. I built this page in Flask to illustrate knowledge
        of web frameworks, front end tricks, and back end wizardry. As I release projects, I will post them here.
    </p>
    <p>
        I primarily use Python (version 2 or 3 as needed) as it pertains to web development and automation of Ops and
        Systems Administration tasks. I would classify myself as intermediate in Python (I answer more questions than
        I ask, I have a good grasp of flow control, logic, data types, error catching, functions, objects, etc) and a
        solid junior Linux guy with most of my skill in the automation department. I may not always be able to fix a
        broken Linux box (a lot of the time I can), but I also won't be the one to break it in the first place.
    </p>

    <p>
        Most of my professional Python experience has been in the area of specialized inventory control and management
        systems. I have dealt with automated purchase orders, specialized immutable reporting features for ATF
        monitored products, and all the backups that go along with it.
    </p>

    <p>
        Most of my Linux experience has been on Debian based systems, so I do have a gap in some of the proprietary
        Red Hat software. Honestly though, Linux is Linux, and the real difference are in packages and package
        managers, which aren't too hard to pick up on the fly. I am comfortable with the shell, cron automation,
        user and group priveleges, file permissions, visudo, etc.
    </p>

    <p>
        I am always interested in hearing about opportunities in DevOps and Web Development, and I enjoy working on
        new projects, so feel free to contact me if you think I fit the bill for a position you have available. I
        always check my <a href="mailto:mike_gibbs@rocketmail.com">email</a>.
    </p>

</div>

{% endblock content %}

{% block right %}

 <div class="double-padded">
        <div class="double-padded">
            <h3><a href="/api" title="Everbody likes to REST">Check out my Flask RESTful API!</a></h3>
        </div>
    </div>

    <div class="double-padded">
        <div class="double-padded">
            <h3><a href="/kivy/example">Check out my Kivy app for Android!</a></h3>
        </div>
    </div>
        <blockquote>
            Python is a truly wonderful language. When somebody comes up with a good idea it takes about 1 minute
            and five lines to program something that almost does what you want. Then it takes only an hour to extend
            the script to 300 lines, after which it still does almost what you want.
            <cite>Jack Jansen</cite>
        </blockquote>

    <div class="border-top"></div>

{% endblock right %}