{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        Welcome
    </h1>

    <p>
        Thanks for stopping by, and I hope you like what you see. I built this page in Flask to illustrate knowledge
        of web frameworks, front end tricks, and back end wizardry. As I release projects, I will post them here.
    </p>
    <p>
        I primarily use Python (version 2 or 3 as needed) as it pertains to web development and automation of Ops and
        Systems Administration tasks. I would classify myself as intermediate in Python (I answer more questions than
        I ask, I have a good grasp of flow control, logic, data types, error catching, functions, objects, etc) and a
        solid junior Linux guy with most of my skill in the automation department. I may not always be able to fix a
        broken Linux box (sometimes I can), but I also won't be the one to break it in the first place.
    </p>

    <p>
        Most of my professional Python experience has been in the area of specialized inventory control and management
        systems. Automated purchase orders, specialized reporting features for ATF monitored products
    </p>

</div>

{% endblock content %}