{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        Kivy
    </h1>

    <p>
        Kivy is a GUI framework for developing Android and iOS apps in Python. In my opinion, Kivy is a little lacking
        in appearance and funcionality in comparison to Java, Objective C or Swift apps, but it is a great platform for
        prototyping apps without having to switch languages or dig too deep into either platform.
    </p>
    <p>
        From time to time I use Kivy to toy around with an Arduino or interact with APIs, and it has a use as a simple
        platform for in house apps and prototypes when you don't want to contract a mobile developer until you lock in
        your functionality.
    </p>
    <p>
        Kivy apps also run fine in a desktop environment, so they can make for a great portable GUI solution when form
        isn't the number one concern and you may need desktop and mobile functionality. While I am not a Kivy "expert",
        I can build some functional apps, when need be.
    </p>
</div>

{% endblock content %}