{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        Linux
    </h1>

    <p>
        I have been using Linux as a desktop OS since around 2010, which gave me a good knowledge base with
        basic commands, apt and dpkg package managers, and other common Linux knowledge. About 4 years ago, I got a
        little more serious about Linux as a career skill and begin to learn about other distros, process automation,
        and dove pretty deep into BASH scripting and cron jobs. As my skills have progressed, I have installed and
        configured many Linux systems (I refurbish old computers with Lubuntu and give them away), and picked up a
        great deal of troubleshooting knowledge.
    </p>
    <p>
        Although I do most of my scripting in Python these days, I can still cobble together a BASH script to conjure
        all manner of of voodoo when the situation calls for it. I am a little behind the times with automation
        frameworks, but look forward to getting into Ansible, Chef, Puppet, etc as time allows.
    </p>
</div>

{% endblock content %}