{% extends 'template.html' %}

{% block left %}

<div class="double-padded">
   <div class="double-padded">
   <img src="{{ url_for('static', filename='images/Debian_logo.png') }}" class="center">
</div>
    </div>
        <div class="double-padded border-top">
         <div class="double-padded">
            <h3>Benefits of Kivy:</h3>
            <ul class="list">
                <li>Portability</li>
                <li>Multi-touch support</li>
                <li>Android support</li>
                <li>iOS support</li>
            </ul>
        </div>
        </div>

        <div class="double-padded border-top">
        <div class="double-padded">
            <h3><a href="/my_contribution" title="You know you're curious">What can I contribute to your company?</a></h3>
        </div>
    </div>
{% endblock left %}

{% block content %}

<div>
    <h1 class="align-center">
        Linux
    </h1>

    <p>
        I have been using Linux as a desktop OS since around 2010, which gave me a good knowledge base with
        basic commands, apt and dpkg package managers, and other common Linux knowledge. About 4 years ago, I got a
        little more serious about Linux as a career skill and begin to learn about other distros, process automation,
        and dove pretty deep into BASH scripting and cron jobs. As my skills have progressed, I have installed and
        configured many Linux systems (I refurbish old computers with Lubuntu and give them away), and picked up a
        great deal of troubleshooting knowledge.
    </p>
    <p>
        Although I do most of my scripting in Python these days, I can still cobble together a BASH script to conjure
        all manner of of voodoo when the situation calls for it. I am a little behind the times with automation
        frameworks, but look forward to getting into Ansible, Chef, Puppet, etc as time allows.
    </p>
</div>

{% endblock content %}

{% block right %}
<div class="double-padded">
   <div class="double-padded">
   <img src="{{ url_for('static', filename='images/redhat-logo.png') }}" class="center">
</div>
    </div>
 <div class="double-padded border-top">
        <div class="double-padded">
            <h3><a href="/api" title="Everbody likes to REST">Check out my Flask RESTful API!</a></h3>
        </div>
    </div>


        <blockquote>
            Python makes us extremely productive, and makes maintaining a large and rapidly evolving codebase relatively
            simple
            <cite>Mark Shuttleworth, Thawte Consulting</cite>
        </blockquote>

    <div class="border-top"></div>

{% endblock right %}