{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        What can I do for you?
    </h1>

    <p><strong>On day one, I can contribute:</strong></p>
    <ul class="list">
        <li class="padded"><strong>Attitude:</strong>  Coffee is for closers.</li>
        <li class="padded"><strong>Python Knowledge:</strong>  I'm not Guido, but I can code.</li>
        <li class="padded"><strong>Linux Knowledge:</strong>  Because 'sudo rm -rf /*' fixes everything.</li>
        <li class="padded"><strong>Debugging Skill:</strong>  You merely adopted the traceback. I was born in it.</li>
        <li class="padded"><strong>Problem Solving:</strong>  If you got a problem, yo, I'll solve it.</li>
    </ul>

    <p class="double-pad-top">
        As tech transitions toward the cloud, the industry silos that have been in place for years are becoming a
        hindrance. Deployments need to be automated, development needs to be coordinated, infrastructure needs to be
        hardened. As we move towards the future, SysOps and Development need to be able to fuse into a more efficient
        DevOps amalgamation. You don't just want to deploy made to order server instances on a per order basis and then
        get around to development. The idea is to automate deployment, automate configuration, automate backups. It's
        not just money you save through DevOps, it's time.
    </p>
    <p>
        What I would bring to your company is a passion for tech, pre developed skills in Python and Linux, and a
        strong desire to learn. I don't just code for the money. If I never had another tech job as long as I lived,
        I'd still be coding. I am fascinated with the speed at which technology advances,and I do my best to keep up.
        There is nothing I enjoy more than immersing myself in an interesting technology and learning behind someone
        who has been around longer than myself.
    </p>
    <p>
        And finally... Laughs. I'll bring laughs.
    </p>
</div>

{% endblock content %}