{% extends 'template.html' %}

{% block content %}

<div>
    <h1 class="align-center">
        Python
    </h1>

    <p>
        I have been programming in Python since 2013. I started with Python 2 and developed a firm grasp on data
        types, flow control and error catching. Initially I was focused on command line utilities and process
        automation, but later moved on to some GUI programming with Kivy, Tkinter, and Flask/HTML/JavaScript frameworks.
        I am comfortable in Python 3 as well, and tend to go back and forth, based on the nature of my projects.
    </p>
    <p>
        The first web framework I started with was Django, but I soon realized that Django (though it is a great
        framework) was overkill for most of the projects that I was doing. After building a couple of projects in Flask,
        I fell in love with the simplicity of tiny apps, and the freedom and complexity when used with a larger project
    </p>
    <p>
        People always tell me, "Don't reinvent the wheel, there is a module for what you're doing", or "Django is
        'batteries included'." While I understand why you may not want to dive into writing a ton of code that
        already exists on a large production project, I also feel like it is good to get your hands dirty sometimes
        if you really want to understand what is going on behind the scenes. That's why, on my personal projects,
        I like to see what's inside the wheel.
    </p>
</div>

<div class="double-padded border-top">
    <div class="double-padded">
        <h3>
            Projects and examples:
        </h3>
        <ul class="list">
            <li><a href="#">Braille</a></li>
            <li><a href="/api">RESTful API</a></li>
            <li><a href="https://www.youtube.com/channel/UCTJnDx3LYGwjyPubknsaRWg">Videos</a></li>
        </ul>
    </div>
</div>

{% endblock content %}