<!-- Modernizr -->
<script src="static/groundwork/js/libs/modernizr-2.6.2.min.js"></script>
<!-- framework css -->
<!--[if gt IE 9]><!-->
<link type="text/css" rel="stylesheet" href="static/groundwork/css/groundwork.css">
<!--<![endif]-->
<!--[if lte IE 9]>
<link type="text/css" rel="stylesheet" href="static/groundwork/css/groundwork-core.css">
<link type="text/css" rel="stylesheet" href="static/groundwork/css/groundwork-type.css">
<link type="text/css" rel="stylesheet" href="static/groundwork/css/groundwork-ui.css">
<link type="text/css" rel="stylesheet" href="static/groundwork/css/groundwork-anim.css">
<link type="text/css" rel="stylesheet" href="static/groundwork/css/groundwork-ie.css">
<![endif]-->


<body class="animated fadeIn">
<div class="animated fadeInUpBig row box asphalt">
    <a href="/">
    <div class="animated slideInLeft one third pad-bottom">
    <img src="static/images/me.jpg" height="100" width="100">
    </div>
    <div class="one third">
    <h1 class="animated slideInLeft align-center">
        <strong>Michael Gibbs</strong>
    </h1>
    <p class="animated slideInRight align-center"><em>Full Stack Python</em></p>

    </div>
    </a>
    <div>
    <nav class="animated slideInRight nav asphalt ten twelfths skip-one ">
        <ul>

            <li><a class="button" href="/python" title="The big snake">Python</a></li>
            <li><a class="button" href="/flask" title="Not as small as you think">Flask</a></li>
            <li><a class="button" href="/scraping" title="Knowledge is power">Scraping</a></li>
            <li><a class="button" href="/kivy" title="Ugly but effective">Kivy</a></li>
            <li><a class="button" href="/linux" title="Is there another OS?">Linux</a>
            <li><button title="Little Bobby Tables">SQL</button>

            <li><a class="button" title="Who am I?" href="/about">About Me</a></li>

            <li><a class="button" href="http://pythonundertheinfluence.com" title="Read my blog">Blog</a></li>
            <li><a class="button" href="https://www.youtube.com/channel/UCTJnDx3LYGwjyPubknsaRWg"
            title="My videos">YouTube</a></li>
            <li><a class="button" title="Github" href="https://github.com/miketheinkman"></a></li>
            <li><a class="button" title="Contact me" href="mailto:mike_gibbs@rocketmail.com"></a></li>

        </ul>
    </nav>
    </div>
</div>

<div class="row">
    <div class="animated slideInLeft column one third double-padded">
    <blockquote>
        Most good programmers do programming not because they expect to get paid or get adulation by the public,
        but because it is fun to program.
        <cite>Linus Torvalds</cite>
    </blockquote>

        <div class="double-padded">
         <div class="double-padded">
            <h3>Traits of a good programmer:</h3>
            <ul class="list">
                <li>Passion</li>
                <li>Willingness to learn</li>
                <li>Debugging skills</li>
                <li>Intelligence</li>
                <li>Laziness</li>
            </ul>
        </div>
        </div>

        <div class="double-padded border-top">
        <div class="double-padded">
            <h3><a href="/my_contribution" title="You know you're curious">What can I contribute to your company?</a></h3>
        </div>
    </div>

    </div>
    <div class="animated fadeInUpBig column one third double-padded">
        <div class="align-center">
        <img src="static/images/python-logo.png" class="double-padded">
        </div>
        <div class="double-padded border-top"></div>
        {% block content %}

        {% endblock content %}
        </div>
    <div class="animated slideInRight column one third double-padded">
    <div class="double-padded">
        <div class="double-padded">
            <h3><a href="#">Check out my Flask RESTful API!</a></h3>
        </div>
    </div>

    <div class="double-padded">
        <div class="double-padded">
            <h3><a href="#">Check out my Kivy app for Android!</a></h3>
        </div>
    </div>
        <blockquote>
            Python is a truly wonderful language. When somebody comes up with a good idea it takes about 1 minute
            and five lines to program something that almost does what you want. Then it takes only an hour to extend
            the script to 300 lines, after which it still does almost what you want.
            <cite>Jack Jansen</cite>
        </blockquote>

    <div class="border-top"></div>


    </div>

    </div>


<footer class="box double-padded">
</footer>

<script type="text/javascript" src="static/groundwork/js/libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="static/groundwork/js/groundwork.all.js"></script>
</body>